/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


body{
  font-size: 17px;
  font-family: Georgia, serif;
  color: black;
  margin: 0.8em;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

form{
  text-align: right;
  font-size: 18px;
  font-family: Georgia, serif;
  color: darkblue;
  margin: 1em;
  background-color: rgb(250, 250, 250);
  padding-bottom: 3em;
}
.setup{
  padding-right: 35%;
}

.askCord{
  text-align: center;
  margin-left: 3em;
}

error{
  font-size: 35px;
  font-family: Georgia, serif;
  color: red;
  margin: 1em;
  text-align: center;
}

h2{
  font-size: 35px;
  font-family: Georgia, serif;
  color: darkblue;
  margin: 1em;
  text-align: center;
}

h3{
  font-size: 30px;
  font-family: Georgia, serif;
  color: darkblue;
  margin-top: 1em;
  text-align: left;
}

#menu, #footer {
  border: 1px solid #5F9EA0;
  background-color: #dcdcdc;
  padding: 0.5em;
  width: 100%;
  height: 12px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-family: Georgia, serif;
  color: darkblue;
}

.button{
  width: 7em;
  font-size: 20px;
  font-family: Georgia, serif;
  color: darkblue;
  margin: 0.4em;
  text-align: center;
  outline: 0.1em rgb(100, 100, 100) solid;
}

input {  /* inputs for writing text*/
  width: 7em;
  font-size: 20px;
  font-family: Georgia, serif;
  color: darkblue;
  margin: 0.4em;
  text-align: center;
  alignment: right;
}

input[type='submit'] { /* submit buttons */
  width: 8em;
  font-size: 20px;
  font-family: Georgia, serif;
  color: darkblue;
  margin: 0.4em;
  text-align: center;
  outline: 0.1em rgb(100, 100, 100) solid;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

/*
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



*/
